{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple App : Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="head">
        <h1>Simple App : User List</h1>
    </div>
        <div id="navbar">  
            <a href="{% url 'add_user' %}">Add User</a>
            <a href="{% url 'export_data' %}">Export Data</a>
        </div>
    <div id="taskfield">
        <ul>
        {% for user in all_users %}
        <li>{{ user.name }} - {{ user.email }} - {{ user.mobile }} - 
        <a href="{% url 'add_task' user.userId %}">Add Task</a>
        <ul>
        {% for task in user.tasks.all %}
        <li>{{ task.taskdetail }} - {{ task.tasktype }}</li>
        {% endfor %}
        </ul>
        </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
